.header {
  display: flex;
  box-sizing: border-box;
  padding-left: 22px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #FFFFFF;

  @media (max-width: 390px) {
    padding-left: 12px;
  }

  &__image {
    width: 46px;
    height: 46px;
    border-radius: 30px;
  }


  &__user {
    margin-right: 27px;
    @media (max-width: 640px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

  }

  &__user &__text {
    margin-right: 10px;
    @media (max-width: 640px) {
      display: none;
    }
  }

  &__text,
  &__authorization &__log-out,
  &__button--active{
    display: inline-block;
    margin-right: 30px;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    padding: 6px;
    color: rgba(0, 0, 0, 0.85);

    @media (max-width: 640px) {
      font-size: 14px;
      padding: 2px;
      margin-right: 15px;
    }
  }

  &__authorization &__log-out{
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    margin-right: 22px;
    @media (max-width: 640px) {
      border: none;
      font-weight: 700;
      color: #b21722;
    }
  }

  &__authorization {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__authorization button {
    height: 51px;
    width: 109px;
    border: none;
    background-color: #FFFFFF;
    @media (max-width: 640px) {
      width: auto;
    }
  }

   &__button--active,
   &__text:hover,
   &__authorization &__log-out:hover{
    border-radius: 5px;
    border: 1px solid #52C41A;
    color: #52C41A !important;

     @media (max-width: 640px) {
       border: none;
       font-weight: 700;
     }

  }
}