@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  background-color: #E5E5E5 !important;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
}
