.list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 941px;
  margin: 0;

  &__pagination {
    margin-top: 27px !important;
    margin-bottom: 18px !important;
  }
}